.container {
    font-family: Arial, sans-serif; 
    background-color: #FFD1DC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    color: #FF69B4;
  }
  
  .question {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  h2 {
    color: #FF69B4; 
  }
  
  p {
    color: #FF1493;   }