div class="logo-container">
  <img src="c:\Vainilla-old\vainilla\Imagenes\Logo- esi.PNG">
</div>
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
}
